
@media  (min-width:1440px) and (max-width:1547px){
    .navbarinside{
       margin: 12px 20px;
    }
    
}
@media  (min-width:1309px) and (max-width:1440px){
       .navbarinside{
           margin: 12px 5px;
       }
       .navbarinside li a{
           padding: 10px;
       }
     
}    
@media  (min-width:769px) and (max-width:1309px){
    .navbar{
        width: 1372px;;
    }

    .navbarinside{
        margin: 12px 0px;
    }
    .navbarinside li{
        padding: 0px;
    }
    #text{
        margin: 84px 100px;
        width: 540px;
    }
    #img{
        margin: 84px 40px;
    }
    #main
    {
        width: fit-content;
    }
 
}

@media  (min-width:100px) and (max-width:769px){
    body{
        height:1900px;
    }
    .navbar{
        width: 900px
    }
    .navbarinside{
        margin: 12px 0px;
    }
    .navbarinside li a{
        padding: 10px;
    }
    .navbarinside li{
        padding: 0px;
    }
    #text{
        margin: 84px 0px;
        width: 540px;
    }
    #img{
        margin: 84px 40px;
    }
    #main
    {
        width: fit-content;
    }
  
} 
