<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
     style
       include about.css
       include aboutres.css
</head>

<body>
    <nav class="navbar">
        <ul class="navbarinside">
            <li><a href="/webdevelopment.html" target="_blank">Home</a></li>
            <li><a href="/article.html" target="_blank">Articles</a> </li>
            <li><a href="/lecture.html" target="_blank">Lecture</a></li>
            <li><a href="/technews.html" target="_blank">Tech News</a></li>
            <li><a href="/about.html" target="_blank">About us</a></li>
        </ul>
        <input type="text" name="search" id="srch" placeholder="Search">
        <button id="btn">OK</button>
    </nav>
    <div id="main">
        <div id="img">
            <img src="/static/download.png" alt="Error">
        </div>
        <div id="text">
            <h1>About Us</h1>
            <h3>
                Here We Teach Java in simplest form and give world and tech news
            </h3>
        </div>
    </div>
</body>

</html>