<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Major Fire at Serum Insitute of India</title>
    style
     include article1.css
     include article1res.css
</head>

<body>
    <nav class="navbar">
        <ul class="navbarinside">
            <li><a href="/webdevelopment.html">Home</a></li>
            <li><a href="/article.html">Articles</a> </li>
            <li><a href="/lecture.html">Lecture</a></li>
            <li><a href="/technews.html">Tech News</a></li>
            <li><a href="/about.html">About us</a></li>
        </ul>
        <input type="text" name="search" id="srch" placeholder="Search">
        <button id="btn">OK</button>
    </nav>
    <div id="article1">
    <h1>Major Fire at Serum Insitute of India</h1>
    <p>
        |The Insitute where COVISHIELD were manufactured has been under a large fire in its one of the buildings in Pune.
    </p>
    <img src="/static/image.png" alt="Error">
    <p>
        |Serum Institute is the world's largest vaccine manufacture and it is not a government company. It is a private
        |company.
    </p>
    <p>
        |Till now 5 people have lost their life due to this fire in the building but according to the tweet of
        <strong>Mr. Adar Ponawalla</strong> (CEO of serum institute of India) that there is no loss in the production of
        |COVISHIELD due to multiple buildings that were kept in reserve for such contingencies.
    </p>
    <img src="/static/image (1).png" alt="Error">
    <p>
        |The reason for the fire is still unknown and it is under investigation.

        |Our PM <strong>Mr. Narendra Modi</strong> also tweeted about this matter and he said he prayed for all the
        |injured to recover at the earliest
    </p>
    <img src="/static/image (2).png" alt="Error">
    <p>
        |Serum Institute of India will provide 500,000 doses in February to South Africa, 30 million doses to Myanmar and
    </p>
    <img src="/static/image (3).png" alt="Error">
    <br>
    <img src="/static/image (4).png" alt="Error">
    <p>
        |Serum Insitute of India has three vaccine plant one in Ahmedabad second in Hyderabad and the last in Pune.
    </p>
    </div>
</body>

</html>