<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>A New Threat to China Akash Missile NG</title>
     style
       include article2.css
       include article2res.css
</head>
<body>
    <nav class="navbar">
        <ul class="navbarinside">
            <li><a href="/webdevelopment.html" target="_blank">Home</a></li>
            <li><a href="/article.html" target="_blank">Articles</a> </li>
            <li><a href="/lecture.html" target="_blank">Lecture</a></li>
            <li><a href="/technews.html" target="_blank">Tech News</a></li>
            <li><a href="/about.html" target="_blank">About us</a></li>
        </ul>
        <input type="text" name="search" id="srch" placeholder="Search">
        <button id="btn">OK</button>
    </nav>
    <div id="article2">
    <h1>A New Threat to China Akash Missile NG</h1>
    <p>
        |As we all know that India and china soldiers are at a standoff for the issue figure 8 in Ladakh. Now DRDO has successfully tested Akash NG missile new generation surface-to-air for the Indian airforce.
    </p>
    <img src="/static/c1.png" alt="Error">
    <p>
       |Surface-to-Air missile is used to strike down flying fighter planes and drones protecting the land army from the bombing. It is a major milestone in the ongoing surface-to-air missile program The First Surface-to-air missile was built by the USA during the cold war American Nike Ajax after this Russia developed the S-75 surface-to-air missile which was given to India also and India used it in the 1965 and 1971 war against Pakistan. S-400 which was in the highlight is also a surface-to-air missile but its range much more than our new Akash NG missile
    </p>
    <img src="/static/c2.png" alt="Error">
    <p>
        |The operational range of Aakash variants 25-30 km (Akash Mk.1/IS) 40 km (Akash Mk.2) 50-80 Km (under development) while S-400 has a range of 400km
    </p>
    <img src="/static/c3.png" alt="Error">
    <p>
        |This missile guided by our very own Rajendra radar which tells where is the target and once the target is locked it is very difficult to get away from it
    </p>
    <img src="/static/c4.png" alt="Error">
    <br>
    <img src="/static/c5.png" alt="Error">
    <p>
        |Once the Akash missile is developed it will be given to Bharat Dynamics (BDL) for the mass production of the Akash missile. In June 2010 the defense Acquisition council (DAC) placed an order for the Akash missile system, valued at 12500 crore Rs Bharat Dynamics Limited is a government company one of India's manufacturers of ammunitions and missile systems. Its center is in Hyderabad, Telangana, India.
    </p>
    <img src="/static/c6.png" alt="Error">
    <p>
        |Our Prime minister Mr. Narendra Modi on December 30 gave its go-ahead to the sale of Akash surface to air missile system to friendly foreign countries. By 2024 India wanted to increase its weapon export to $5 billion.
    </p>
    </div>
</body>
</html>