<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Strikes in Russia</title>
     style
      include article3.css
      include article3res.css
</head>

<body>
    <nav class="navbar">
        <ul class="navbarinside">
            <li><a href="/webdevelopment.html" target="_blank">Home</a></li>
            <li><a href="/article.html" target="_blank">Articles</a> </li>
            <li><a href="/lecture.html" target="_blank">Lecture</a></li>
            <li><a href="/technews.html" target="_blank">Tech News</a></li>
            <li><a href="/about.html" target="_blank">About us</a></li>
        </ul>
        <input type="text" name="search" id="srch" placeholder="Search">
        <button id="btn">OK</button>
    </nav>
    <div id="article3">
    <h1>Strikes in Russia</h1>
    <p>
        |As the Russian government has arrested Alexei Navalny for making a pseudo claim on the president of Russia
        |Vladimir Putin. So people join the strike for the demand for the release of the Alexei Navalny
    </p>
    <img src="/static/r1.png" alt="Error">
    <h4>Economic Crisis</h4>
    <img src="/static/r2.png" alt="Error">
    <p>
        |Russia is predominantly a seller of hydrocarbon. Since the crude oil price crash and the fall in natural gas
        |prices, Russia has been unable to earn a lot of revenue. Above all that the USA sanctions have made matter worse
    </p>
    <ol id="x">
        <li>Mineral fuels including oil: us$220.8 billion (52.2% of total exports)
        </li>
        <li>Iron.steel: $18.1 billion (4.3%)
        </li>
        <li>Gems,precious metals: $15.3 billion (3.6%)
        </li>
        <li>Machinery including computers: $9 billion (2.1%)
        </li>
        <li>wood: $8.6 billion (2%)
        </li>
        <li>Fertilizers: $8.4 billion (2%)
        </li>
        <li>Cereals: $7.9 billion (1.9%)
        </li>
        <li>Aluminium: $5.8 billion (1.4%)
        </li>
        <li>Electrical machinery,equipment: $5.6 billion (1.3%)
        </li>
        <li>Copper: $5.2 Billion (1.2%)
        </li>
    </ol>
    <p>
        | As there Russia is having an Economic crisis there people are having a tough time as they have very less salary
        |and the people think that they are not living a decent life. According to a survey in Russia half of the
        |Russians say they'll never live to see a decent salary and living on very less salary according to their living
        |standards.
    </p>
    <img src="/static/r3.png" alt="Error">
    <p>
        |In 2019, according to the corruption perceptions index reported by transparency International, Russia ranked
        |137th out of 180 countries and is the most corrupt European nation. (While India and China ranked 80)
    </p>
    <p>
        |Russian people want Vladimir Putin to resign from his post because in Russia people involved in corruption are
        |mainly the people on higher post as president, Prime minister
        |and According the sources we know putin will be there till 2036.
    </p>
    <img src="/static/r4.png" alt="Error">
    <p>
        |As Russian Ruble has fallen below Indian Ruppe and the economy of Russia is going down day by day so people want
        |Alexei Navalny to become the president
    </p>
    <img src="/static/r5.png" alt="Error">
    <p>
        |Putin is in power as Prime minister or president from 2000 and now its 2021 and he will remain in power till
        |2036. But the people don't want him to be there as president because according to Alexei Navalny he is also
        |involved in corruption and has created a palace for him from corrupt money.
    </p>
    <img src="/static/r6.png" alt="Error">
    <h4 id="y">Who is Alexei Navalny?</h4>
    <p>
        |A Russian opposition leader, politician, lawyer, and anti-corruption activist.
        |Navalny is a Russian opposition coordination council member the leader of the Russia of the future party and the
        |founder of the anti-corruption Foundation(FBK).
        |In December 2016, Navalny tried to run for the president of Russia during the 2018 election but was barred by
        |Russia's central electoral commission and later the supreme court of Russia due to a criminal conviction
    </p>
    <img src="/static/r7.png" alt="Error">
    <p>
        |On 20 August 2020, Navalny was hospitalized in serious condition after he was poisoned with a nerve agent during
        |a flight from Tomsk to Moscow. He was medically evacuated to berlin and discharged on 22 September. Russian
        |prosecutors have refused to open a criminal investigation into the matter</p>
    <p>
        |Alexei Navalny also created a youtube video with the title A palace for Putin: The Story of the Biggest Bribe
    </p>
    <p>
        |A palace for Putin: The Story of the biggest bribe a 2021 Russian documentary film by the Russian non-profit
        |anti-corruption Foundation (FBK) detailing alleged corruption by Vladimir Putin, the current president of
        |Russia, over the building of the residence at Cape Idokopas. the film estimates that the complex, located near
        |the town of Gelendzhik in Krasnodar Krai, which it says was built for Putin cost over $1.35billion
    </p>
    <img src="/static/r8.jpg" alt="Error">
    <p>
        |The films open with a call for people to come out and participate in the 2021 Russian protest demanding the
        |release of Alexei Navalny, the film's narrator and scriptwriter, who was detained after arriving in Russia
        |following treatment and rehabilitation in Germany in connection with his poisoning in 2020.
    </p>
    <h4 id="z">Putin Defense</h4>
    <p>
        |on the day the documentary film was published Kremlin spokesman Dmitry Peskov said that Putin did not have any
        |palaces.
        |the next day he called the film a "pseudo-investigation" and a "scam" to reporters saying that citizens should
        |"think before transferring money to such crooks"
    </p>
    </div>
</body>

</html>