<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Article</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&family=Ubuntu:wght@300&display=swap"
        |rel="stylesheet">
    style
     include article.css
     include articleresponsive.css
</head>

<body>
    <nav class="navbar">
        <ul class="navbarinside">
            <li><a href="/webdevelopment.html" target="_blank">Home</a></li>
            <li><a href="/article.html" target="_blank">Articles</a> </li>
            <li><a href="/lecture.html" target="_blank">Lecture</a></li>
            <li><a href="/technews.html" target="_blank">Tech News</a></li>
            <li><a href="/about.html" target="_blank">About us</a></li>
        </ul>
        <input type="text" name="search" id="srch" placeholder="Search">
        <button id="btn">OK</button>
    </nav>
    <div id="artilce">
        <div>
            <h1>China Want Taiwan at any cost</h1>
            <h5>January 30,2021</h5>
            <p>Beijing is becoming increasingly concerned that Tawan's government is moving the island towards a formal
                |declaration of independence and it wants to warn president Tsai lng-wen against taking steps in that
                |direction. REASON FOR TENSION BETWEEN CHINA AND TAIWAN In 1895 following japan's victory in the First
                |Sino-Japanese war, the wing government had to cede Taiwan to Japan after world war II the republic of
                |china-one of the victors-began ruling Taiwan with the consent of its allies US and UK after japan
                |surrendered and relinquished control of territory it had taken from China. However, in the next few
                |years, a
                |civil war broke out in China and the leader at the time Chiang Kai-shek's troops were beaten back by the
                |communist armies under Mao Zedong. Chiang and the remnants of his Kuomintang (KMT) government fled to
                |Taiwan
                |in 1949. this group referred to as mainland Chinese, and then making up 1.5m people dominated Taiwan's
                |politics for many years, even though
                <a href="article4.html" target="_blank">Read More</a>
            </p>
        </div>
        <div>
            <h1>Strikes in Russia</h1>
            <h5>January 26,2021</h5>
            <p>As the Russian government has arrested Alexei Navalny for making a pseudo claim on the president of
                |Russia
                |Vladimir Putin. So people join the strike for the demand for the release of the Alexei Navalny Economic
                |Crisis Russia is predominantly a seller of hydrocarbon. Since the crude oil price crash and the fall in
                |natural gas prices, Russia has been unable to earn a lot of revenue. Above all that the USA sanctions
                |have
                |made matter worse Mineral fuels including oil: us$220.8 billion (52.2% of total exports) Iron.steel:
                |$18.1
                |billion (4.3%) Gems,precious metals: $15.3 billion (3.6%) Machinery including computers: $9 billion
                |(2.1%)
                |wood: $8.6 billion (2%) Fertilizers: $8.4 billion (2%) Cereals: $7.9 billion (1.9%) Aluminium: $5.8
                |billion
                |(1.4%) Electrical machinery,equipment: $5.6 billion (1.3%) Copper: $5.2 Billion (1.2%) As there Russia
                |is
                |having an Economic crisis there people are having a tough time as they have very less salary and the
                |people
                |think that they are not li
                <a href="article3.html" target="_blank">Read More</a>
            </p>
        </div>
        <div>
            <h1>A New Threat To China Akash Missile NG</h1>
            <h5>January 25,2021</h5>
            <p>As we all know that India and china soldiers are at a standoff for the issue figure 8 in Ladakh. Now DRDO
                |has
                |successfully tested Akash NG missile new generation surface-to-air for the Indian airforce.
                |Surface-to-Air
                |missile is used to strike down flying fighter planes and drones protecting the land army from the
                |bombing.
                |It is a major milestone in the ongoing surface-to-air missile program The First Surface-to-air missile
                |was
                |built
                <a href="article2.html" target="_blank">Read More</a>
            </p>
        </div>
        <div>
            <h1>Major Fire at Serum Insitute of India</h1>
            <h5>January 22, 2021</h5>
            <p>The Insitute where COVISHIELD were manufactured has been under a large fire in its one of the buildings
                |in
                |Pune. Serum Institute is the world's largest vaccine manufacture and it is not a government company. It
                |is a
                |private company. Till now 5 people have lost their life due to this fire in the building but according
                |to
                |the tweet of Mr. Adar Ponawalla (CEO of serum institute of India) that there is no loss in the
                |production of
                |COVISHIELD due to multiple buildings that were kept in reserve for such contingencies.
                |The reason for the fire is still unknown and it is under investigation. Our PM Mr. Narendra
                |Modi also tweeted about this matter and he said he prayed for all the injured to recover at the earliest
                |Serum Institute of India will provide 500,000 doses in February to South Africa,
                <a href="article1.html" target="_blank">Read More</a>
            </p>
        </div>
    </div>
</body>

</html>