<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>China want Taiwan at any cost</title>
     style
      include article4.css
      include article4res.css
</head>

<body>
    <nav class="navbar">
        <ul class="navbarinside">
            <li><a href="/webdevelopment.html" target="_blank">Home</a></li>
            <li><a href="/article.html" target="_blank">Articles</a> </li>
            <li><a href="/lecture.html" target="_blank">Lecture</a></li>
            <li><a href="/technews.html" target="_blank">Tech News</a></li>
            <li><a href="/about.html" target="_blank">About us</a></li>
        </ul>
        <input type="text" name="search" id="srch" placeholder="Search">
        <button id="btn">OK</button>
    </nav>
    <div id="article4">
    <h1>China want Taiwan at any cost</h1>
    <p>
        |Beijing is becoming increasingly concerned that Tawan's government is moving the island towards a formal
        |declaration of independence and it wants to warn president Tsai lng-wen against taking steps in that direction.
    </p>
    <img src="/static/t1.png" alt="Error">
    <h4 id="r">REASON FOR TENSION BETWEEN CHINA AND TAIWAN
    </h4>
    <p>
        |In 1895 following japan's victory in the First Sino-Japanese war, the wing government had to cede Taiwan to
        |Japan after world war II the republic of china-one of the victors-began ruling Taiwan with the consent of its
        |allies US and UK after japan surrendered and relinquished control of territory it had taken from China.
    </p>
    <p>
        |Kai-shek's troops were beaten back by the communist armies under Mao Zedong. Chiang and the remnants of his
        |Kuomintang (KMT) government fled to Taiwan in 1949. this group referred to as mainland Chinese, and then making
        |up 1.5m people dominated Taiwan's politics for many years, even though they only account for 14% of the
        |population.
    </p>
    <img src="/static/t2.png" alt="Error">
    <br>
    <strong id="str1">Chiang Kai-shek</strong>
    <br>
    <img src="/static/t3.png" alt="Error">
    <br>
    <strong id="str2">Mao Zedong</strong>
    <br>
    <p>
        |Having inherited an effective dictatorship, facing resistance from local people resentful of authoritarian rule,
        |and under pressure from a growing democracy movement, Chiang's son, Chiang Ching-Kuo began allowing a process of
        |democratization which eventfully led to the 2000 election of the island's first non-KMT president, Chen
        |Shui-bian.
    </p>
    <p>
        |China wants Taiwan to be its part again (Communist) and Taiwan want china to be its parts (Democratic). Taiwan
        |calls itself the Republic of China while china call itself the People Republic of China both of them call itself
        |the original china.
    </p>
    <p>
        |But China has always tried all over the world that no one gives Taiwan a title of an independent country, but
        |now Taiwan government has decided that for now, they will do formal independence of Taiwan and whenever they
        |will get a chance they will take china under them which is impossible for now for them to do.
    </p>
    <img src="/static/t4.png" alt="Error">
    <p>
        |China threat Taiwan that if they declare independence it will mean war with China.
    </p>
    <h4 id="h4">US Response</h4>
    <p>
        |US Defense Department says they are with Taiwan but Joe Bidden the president of the US is a little soft towards
        |China so he has not given any statement regarding this threat.
    </p>
    <img src="/static/t5.png" alt="Error">
    <p>
        |Back in March, Enodo Economics, a macroeconomic and political forecasting company, assessed the probability of a
        |conflict between China and the US over Taiwan was 45% sometimes in 2020-22
    </p>
</div>
</body>

</html>