<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lecture</title>
     style
      include lecture.css
      include lectureresponsive.css
</head>

<body>
    <nav class="navbar">
        <ul class="navbarinside">
            <li><a href="/webdevelopment.html" target="_blank">Home</a></li>
            <li><a href="/article.html" target="_blank">Articles</a> </li>
            <li><a href="/lecture.html" target="_blank">Lecture</a></li>
            <li><a href="/technews.html" target="_blank">Tech News</a></li>
            <li><a href="/about.html" target="_blank">About us</a></li>
        </ul>
        <input type="text" name="search" id="srch" placeholder="Search">
        <button id="btn">OK</button>
    </nav>
    <h1>Lecture</h1>
    <h2>What is Function?</h2>
    <iframe src="https://www.youtube.com/embed/2h7pA-gJ6II" frameborder="0" width="1200" height="600"
        |allowfullscreen></iframe>
        <h2>Defining a method and its components</h2>
    <iframe src="https://www.youtube.com/embed/b6AJOkTQj54" frameborder="0" width="1200" height="600"
        |allowfullscreen></iframe>
        <h2>How to invoke a function and static method?</h2>
    <iframe src="https://www.youtube.com/embed/tshX_56fhzI" frameborder="0" width="1200" height="600"
        |allowfullscreen></iframe>
        <h2>Function and mehtods Part 1</h2>
    <iframe src="https://www.youtube.com/embed/tshX_56fhzI" frameborder="0" width="1200" height="600"
        |allowfullscreen></iframe>
        <h2>Function and methods Part 2</h2>
    <iframe src="https://www.youtube.com/embed/3O75us9c2YU" frameborder="0" width="1200" height="600"
        |allowfullscreen></iframe>
</body>

</html>