<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JavaGuru</title>
     style 
       include signin.css
</head>

<body>
    <nav class="navbar">
        <ul class="navbarinside">
            <li><a href="/webdevelopment.html" target="_blank">Home</a></li>
            <li><a href="/article.html" target="_blank">Articles</a> </li>
            <li><a href="/lecture.html" target="_blank">Lecture</a></li>
            <li><a href="/technews.html" target="_blank">Tech News</a></li>
            <li><a href="/about.html" target="_blank">About us</a></li>
        </ul>
        <input type="text" name="search" id="srch" placeholder="Search">
        <button id="btn">OK</button>
    </nav>
    <div role="toolbar" id="shift">
        <form action="" class="form2">
            <div class="btn-group">
                <a href="webdevelopment.html" class="btn btn-primary active" aria-current="page">Register</a>
                <a href="signweb.html" class="btn btn-primary">Sign in</a>
            </div>
            <div class="sigin">
                <label for="sem">Email ID:</label>
                <input type="email" name="semail" id="sem" placeholder="Enter Your Email">
            </div>
            <div class="sigin">
                <label for="spass">Password:</label>
                <input type="password" name="spassword" id="spass" placeholder="Enter Your Password">
            </div>
            <div>
                <button id="signin">Sign In </button>
            </div>
        </form>

    </div>

</body>
<script>

</script>

</html>