<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tech News</title>
     style
      include technews.css
      include newsresponsive.css
</head>

<body>
    <nav class="navbar">
        <ul class="navbarinside">
            <li><a href="/webdevelopment.html">Home</a></li>
            <li><a href="/article.html">Articles</a> </li>
            <li><a href="/lecture.html">Lecture</a></li>
            <li><a href="/technews.html">Tech News</a></li>
            <li><a href="/about.html">About us</a></li>
        </ul>
        <input type="text" name="search" id="srch" placeholder="Search">
        <button id="btn">OK</button>
    </nav>

    <h1>Tech News</h1>
    <h2>Tech News EP2</h2>
    <iframe src="https://www.youtube.com/embed/JvU585PEQPw" frameborder="0" width="1200" height="600"></iframe>
    <h2>Tech News EP1</h2>
    <iframe src="https://www.youtube.com/embed/x_qCPl56D0U" frameborder="0" width="1200" height="600"></iframe>
    
</body>

</html>